.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.input-container {
  width: fit-content;
  position: relative;
}
.radio-btn label {
  color: #676c71;
  font-size: 0.9rem;
}
input[type="checkbox"] {
  appearance: none;
  display: block;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border: 1px solid #676c71;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.checkbox .icon {
  position: absolute;
  inset: 0;
  z-index: 0;
}
